<style>
	
	body {
			background-color: blue;
	}

	h1 {
		font-family: sans-serif;
		font-size: 50px;
		text-align: center;
	}

	h2 {
		font-family: sans-serif;
		font-size: 30px;
		text-align: center;
	}

	svg {
		font-family: sans-serif;
		padding-bottom: 50px;
		font-size: 20px;
		display: block;
		margin:auto;
	}
	
	p {
	    font-size: 30px;
	    line-height: 20ge;*/
	    font-family: sans-serif;
	    font-style: italic;
	    font-weight: 5;
	    color: red;
	    text-align: center;
	}

</style>